* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  body {
    background-color: rgb(125, 169, 167);
  }
  
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  
  .container2 {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .building {
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    width: 20rem;
    height: 30rem;
  }
  .building2 {
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: rgb(196, 234, 8);
    border-radius: 10px;
    width: 20rem;
    height: 30rem;
  }
  
  .elevator-shaft {
  position: relative;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    width: 4rem;
    height: 30rem;
  }
  
  .building-elevator {
    display: flex;
  }
  
  .floor {
    border-radius: 10px;
    height: 20%;
  }
  image{
    width:50px; height:50px;
  }
  .floor-1 {
    background-image: url(https://img.freepik.com/vecteurs-libre/ascenseur-porte-ouverte-fermee-au-design-plat_23-2147912333.jpg?size=338&ext=jpg);
  }
  
  .floor-2 {
    background-color: rgb(74, 223, 5);
  }
  
  .floor-3 {
    background-color: rgb(74, 223, 5);
  }
  
  .floor-4 {
    background-color: rgb(74, 223, 5);
  }
  
  .floor-5 {
    background-color: rgb(74, 223, 5);
  }
  
  .elevator-floor {
    border-radius: 10px;
    height: 20%;
    cursor: pointer;
  }
  
  .elevator-floor-1 {
    background-color: rgb(1, 98, 155);
  }
  
  .elevator-floor-2 {
    background-color: rgb(1, 98, 155);
  }
  
  .elevator-floor-3 {
    background-color: rgb(1, 98, 155);
  }
  
  .elevator-floor-4 {
    background-color: rgb(1, 98, 155);
  }
  
  .elevator-floor-5 {
    background-color: rgb(1, 98, 155);
  }
  
  .elevator {
    position: absolute;
    bottom: 0;
    left: 0;
    border-radius: 10px;
    width: 100%;
    height: 20%;
    cursor: pointer;
    background-color: rgb(133, 40, 40);

  }

  .musica{
    height: 200px;
    width: 200px;
    background-color: rgb(133, 40, 40);
    border-radius: 10px;
    cursor: pointer;
  }
  .line1, .line2{
    height: 10px;
    width: 10px;
    background-color: rgb(133, 40, 40);
    position: relative;
    justify-content: center;
    align-items: center;
    text-align: center;
  
  }